<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mishra.pocketmech">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.UserProfile"></activity>
        <activity android:name=".Activity.ImageDisplayActivity" />
        <activity android:name=".Activity.MechanicsDetailsActivity" />
        <activity android:name=".Activity.MechanicsListActivity" />
        <activity android:name=".Adapters.Listing.FAQListing" />
        <activity android:name=".Adapters.Listing.InsuranceListing" />
        <activity android:name=".Adapters.Listing.MechanicsListing" />
        <activity android:name=".Activity.FAQActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.DetailsUploadActivity" />
        <activity android:name=".Activity.LoginScreen" />
        <activity android:name=".Activity.NumberEnter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>